@charset "UTF-8";

:root{
    --color0: #103b39;
    --color1: #234B49;
    --color2: #80CAC8;
    --color3: #C4F5F3;
    --color4: #237572;
    --color5: #D4FFFE;
    --color6: #AAFFFC;
}

body{
    background-color: rgb(37, 37, 37);
}
header{
    background-image: linear-gradient(to bottom, black, var(--color1));
    color: white;
    padding: 20px;
    border: 0px;
    margin: -8px -8px 0px -8px;
    text-align: center;
    font-variant: small-caps;
}
nav{
    background-color: var(--color1);
    padding: 2px;
    border: 1px;
    margin: 0px -8px 0px -8px;
    font-size: 2vw;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px;
    margin: 3px;
    padding: 6px 6px 0px 6px;
    background-color: var(--color0);
    text-align: center;
}
nav a:hover{
    background-color: var(--color2);
    text-decoration: underline;
}
main{
    padding: 10px;
    width: 90vw;
}
main h2{
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 5vw;
}
main p{
    text-shadow: 2px 2px 10px rgb(99, 99, 99);
    color: white;
    background-color:rgba(0, 0, 0, 0.211);
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 3vw;
}
main article{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main article#violao{
    background-image: url(img/fundo.jpg);
}
main article#baixo{
    background-image: url(img/fundo\ contrabaixo.jpg);
    background-position: left center;
}
main article#guitarra{
    background-image: url(img/guitarra.jpg);
    background-position: left center;
}
main article#bateria{
    background-image: url(img/bateria.jpg);
    background-position: left center;
}
main h3{
    text-align: left;
    background-image: linear-gradient(to right, rgba(133, 132, 132, 0.405), transparent);
    color: black;
    padding-left: 10px;
    font-size: 4vw;
}
footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    width: 97%;
}

