@charset "UTF-8";

:root{
    --color1: #0D0D0D;
    --color2: #401F13;
    --color3: #BF784E;
    --color4: #D97218;
    --color5: #F29A2E;
}

header{
    background-image: linear-gradient(to bottom, var(--color5), var(--color1));
    color: white;
    padding: 30px;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
}
header > h1{
    text-align: center;
    padding: 10px;
}
nav{
    background-color: var(--color1);
    padding: 10px;
    margin: 0px;
    border: 10px;
    width: 100vw;
}
nav a{
    
}
body{
    background-color:  rgb(0, 0, 0);
}
main{
    min-width: 400px;
    max-width: 846px;
    margin: auto;
    background-color: var(--color4);
    padding-top: 1px;
}
main > h2{
    text-align: center;
}
main > article#img1{
    background-image: url(img/violão.jpg);
    padding: 9px;
    height: 80vh;
    width:94vw;
    background-repeat: no-repeat;
    margin: 10px;
    
}
footer{
    background-color:var(--color1);
    color: white;
    text-align: center;
    padding: 12px;
    padding-top: 10px;
    margin: -10px;
    width: 100vw;
}
