@charset "UTF-8"


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#A19184, #B6ABA5, #A68F81,#B5837C);
}

main{
    background-color: #8C4C27;/*para selecionar fundo desse periodo*/
    border-radius: 10px;/*arredondar as bordas*/
    box-shadow: 5px 5px 15px #4c3e34;/*gerar sombra(lado; baixo; espalhamento; cor)*/
    width: 600px; /*não usar toda a largura*/
    padding: 10px; /*deixar um espaço maior ao redor do texto*/
    margin: auto;/*centralzar todo o periodo*/
    
    }


    h1 {
        color: #1A2526;
        text-align: center;
        text-shadow: 1px 1px 2px #131c1d;
    }
    hr{
        color: #1A2526;
    }
    
    h2{
    color: #1A2526;
    }
        
    p{
    text-align: justify;
    } /*tag para deixar o final alinhado*/